<span
  class="flex flex-col  bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <img
    class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
    src="{{ book.thumbnail }}"
    alt=""
  />
  <div class="flex flex-col p-4 leading-normal">
    <div class="flex flex-row justify-between">
      <div
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ book.title }}
      </div>
      <div>
        <button class="inline" mat-button (click)="toggleFavorite.emit(book)">
          <ng-container *ngIf="!book.isFavorite; else RemoveFromFavorite">
            <mat-icon>favorite_border</mat-icon>
            Add to favorite
          </ng-container>
          <ng-template #RemoveFromFavorite>
            <mat-icon>favorite</mat-icon>
            Remove to favorite
          </ng-template>
        </button>
      </div>
    </div>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ book.description }}
      <button class="inline" mat-button (click)="getMoreInfo.emit(book)">
        <mat-icon>more_info</mat-icon>
        More Details
      </button>
    </p>
  </div>
</span>
